@media screen and (min-width: 1201px) {
  * {
    padding: 0;
    margin: 0;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 0px 28px;
    width: 100%;
  }
  .headerc {
    display: flex;
  }
  .logo {
    height: 22px;
    border: none;
    margin-right: 25px;
    padding: 5px 0px;
    display: flex;
    align-items: center;
  }
  .logoc {
  }
  .buttonslogoc {
    display: flex;
    align-items: center;
    padding: 5px 0px;
  }
  .taniltsuulahbutton1 {
    border: none;
    color: black;
    font-size: 14px;
    height: 56.5px;
    background-color: white;
    text-wrap: nowrap;
    font-weight: 700;
  }
  .taniltsuulahbutton1:hover {
    opacity: 1;
    color: #0040d4;
  }
  .buttonsc {
    display: flex;
    gap: 3.5vw;
    padding-left: 17px;
  }
  .searchiconseec {
  }
  .searchiconc {
    background-color: #f5f8fc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchicon {
    height: 18px;
  }
}
